[submodule "lib/gridstack-angular"]
	path = lib/gridstack-angular
	url = git@github.com:kdietrich/gridstack-angular.git
[submodule "lib/gridstack"]
	path = lib/gridstack
	url = git@github.com:troolee/gridstack.js.git
[submodule "lib/jquery-ui-touch-punch"]
	path = lib/jquery-ui-touch-punch
	url = git@github.com:furf/jquery-ui-touch-punch.git
